name: Reusable Workflow For Checking Permissions

on:
  workflow_call:
    secrets:
      ALLOWLIST_ADMINS:
        required: true
    inputs:
      user-login:
        required: true
        type: string
      npm-package:
        required: true
        type: string
      github-repo-owner:
        required: true
        type: string
      github-repo:
        required: true
        type: string
    outputs:
      is-admin-error:
        value: ${{ jobs.is-admin.outputs.error }}
      is-admin:
        value: ${{ jobs.is-admin.outputs.is-admin }}
      is-owner-error:
        value: ${{ jobs.is-owner.outputs.error }}
      is-owner:
        value: ${{ jobs.is-owner.outputs.is-owner }}

defaults:
  run:
    shell: bash

jobs:
  is-admin:
    name: Check if issue submitted by admin on devx-services team
    runs-on: ubuntu-latest
    outputs:
      error: ${{ steps.is-admin.outputs.error }}
      is-admin: ${{ steps.is-admin.outputs.is-admin }}
    steps:
      - name: Checkout repository
        uses: actions/checkout@v2.4.2
      - name: Install dependencies
        run: npm install
      - name: Validate creator of request is admin
        id: is-admin
        env:
          ALLOWLIST_ADMINS: ${{ secrets.ALLOWLIST_ADMINS }}
        run: |
          node src/is-admin.js ${{ inputs.user-login }}
  is-owner:
    name: Validate matching add-template issue
    runs-on: ubuntu-latest
    outputs:
      error: ${{ steps.is-owner.outputs.error }}
      is-owner: ${{ steps.is-owner.outputs.is-owner }}
    needs: [is-admin]
    if: ${{ always() && needs.is-admin.outputs.is-admin != 'true' }}
    steps:
      - name: Checkout repository
        uses: actions/checkout@v2.4.2
      - name: Install dependencies
        run: npm install
      - name: Validate creator of request
        id: is-owner
        run: |
          node src/validate-request-author.js ${{ inputs.user-login }} ${{ inputs.npm-package }} ${{ inputs.github-repo-owner }} ${{ inputs.github-repo }}
