name: Template Removal

defaults:
  run:
    shell: bash

on:
  issues:
    types: [labeled]
  issue_comment:
    types: [created]

jobs:
  parse-issue-form-body:
    name: Parse Issue Form Body
    runs-on: ubuntu-latest
    if: (github.event.label.name == 'remove-template') || (github.event_name == 'issue_comment' && github.event.comment.body == '/remove')
    outputs:
      npm-package-name: ${{ steps.issue-input.outputs.npm-package-name }}
    steps:
      - name: Parse Issue Form Body
        uses: peter-murray/issue-forms-body-parser@v2
        id: issue-payload
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          issue_id: ${{ github.event.issue.number }}
          separator: "###"
          label_marker_start: '"'
          label_marker_end: '"'
      - name: Parse Issue Payload
        id: issue-input
        run: |
          npm_package_name=$(echo '${{ steps.issue-payload.outputs.payload }}' | jq '."Name of NPM package"')
          echo "::set-output name=npm-package-name::$npm_package_name"
  check-permissions:
    needs: [parse-issue-form-body]
    uses: ./.github/workflows/check-permissions-workflow.yml
    with:
      user-login: ${{ github.event.issue.user.login }}
      npm-package: ${{ needs.parse-issue-form-body.outputs.npm-package-name }}
  remove-from-registry:
    name: Remove template from registry
    runs-on: ubuntu-latest
    outputs:
      error: ${{ steps.run-remove-from-registry.outputs.error }}
    needs: [parse-issue-form-body, check-permissions]
    if: ${{ always() && needs.parse-issue-form-body.result == 'success' && (needs.check-permissions.outputs.is-admin == 'true' || needs.check-permissions.outputs.is-owner == 'true') }}
    steps:
      - name: Checkout repository
        uses: actions/checkout@v2
      - name: Install dependencies
        run: npm install
      - name: Pull changes
        uses: EndBug/add-and-commit@v8.0.2
        with:
          pull: '--rebase'
      - name: Change registry.json
        id: run-remove-from-registry
        run: node src/remove-from-registry.js ${{ needs.parse-issue-form-body.outputs.npm-package-name }}
      - name: Commit and push changes
        uses: EndBug/add-and-commit@v8.0.2
        with:
          add: registry.json
          default_author: github_actions
          message: Remove ${{ needs.parse-issue-form-body.outputs.npm-package-name }} template from Template Registry
          push: true
  success-close-issue:
    name: Close issue
    runs-on: ubuntu-latest
    needs: [remove-from-registry]
    steps:
      - uses: peter-evans/close-issue@v1
        with:
          comment: "The template has been removed from Template Registry."
          token: ${{ secrets.GITHUB_TOKEN }}
  fail-removal-comment:
    name: Removal failed
    runs-on: ubuntu-latest
    needs: [check-permissions, remove-from-registry]
    if: ${{ always() && (needs.remove-from-registry.outputs.error != '' || (needs.check-permissions.outputs.is-admin != 'true' && needs.check-permissions.outputs.is-owner != 'true' && (needs.check-permissions.outputs.is-admin-error != '' || needs.check-permissions.outputs.is-owner-error != ''))) }}
    steps:
      - uses: ben-z/actions-comment-on-issue@1.0.2
        with:
          message: |
            The following checks failed:

            ${{ needs.check-permissions.outputs.is-admin-error }}
            ${{ needs.check-permissions.outputs.is-owner-error }}
            ${{ needs.remove-from-registry.outputs.error }}

            Fix all mentioned issues and comment `/remove` to try again.
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
