name: Reusable Workflow For Template Verification

on:
  workflow_call:
    inputs:
      github-link:
        required: true
        type: string
      npm-package:
        required: true
        type: string
    outputs:
      check-github-link-error:
        value: ${{ jobs.check-github-link.outputs.error }}
      check-github-link-status:
        value: ${{ jobs.check-github-link.outputs.status }}
      check-npm-package-name-error:
        value: ${{ jobs.check-npm-package-name.outputs.error }}
      check-npm-package-name-status:
        value: ${{ jobs.check-npm-package-name.outputs.status }}
      check-npm-package-metadata-error:
        value: ${{ jobs.check-npm-package-metadata.outputs.error }}
      check-npm-package-metadata-status:
        value: ${{ jobs.check-npm-package-metadata.outputs.status }}
      check-npm-package-ubuntu-latest-14x-error:
        value: ${{ jobs.check-npm-package.outputs.ubuntu-latest-14x-error }}
      check-npm-package-ubuntu-latest-16x-error:
        value: ${{ jobs.check-npm-package.outputs.ubuntu-latest-16x-error }}
      check-npm-package-windows-latest-14x-error:
        value: ${{ jobs.check-npm-package.outputs.windows-latest-14x-error }}
      check-npm-package-windows-latest-16x-error:
        value: ${{ jobs.check-npm-package.outputs.windows-latest-16x-error }}

defaults:
  run:
    shell: bash

jobs:
  check-github-link:
    name: Check GitHub link
    runs-on: ubuntu-latest
    continue-on-error: true
    outputs:
      error: ${{ steps.check-github-link.outputs.ERROR }}
      status: ${{ steps.check-github-link.outputs.STATUS }}
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3.3.0
        with:
          fetch-depth: 0
      - name: Install dependencies
        run: npm install
      - name: Check GitHub link
        id: check-github-link
        run: |
          failed=0
          git ls-remote --tags ${{ inputs.github-link }} || failed=1
          if [ ${failed} -eq 1 ]; then echo "ERROR=:x: A link to the GitHub repo is incorrect or the GitHub repo is not public." >> $GITHUB_OUTPUT; exit 1; fi;
          node src/check-github-link-package-name.js ${{ inputs.npm-package }} ${{ inputs.github-link }}
          if [ ${failed} -eq 0 ]; then echo "STATUS=success" >> $GITHUB_OUTPUT; fi;
  check-npm-package-name:
    name: Check NPM package name
    runs-on: ubuntu-latest
    outputs:
      error: ${{ steps.check-npm-package-name.outputs.ERROR }}
      status: ${{ steps.check-npm-package-name.outputs.STATUS }}
    steps:
      - name: Check NPM package name
        id: check-npm-package-name
        run: |
          failed=0
          npm view ${{ inputs.npm-package }} name || failed=1
          if [ ${failed} -eq 1 ]; then echo "ERROR=:x: A NPM package name is incorrect or the NPM package doesn't exist." >> $GITHUB_OUTPUT; exit 1; fi;
          echo "STATUS=success" >> $GITHUB_OUTPUT;
  check-npm-package-metadata:
    name: Check NPM package metadata
    runs-on: ubuntu-latest
    needs: [check-npm-package-name]
    outputs:
      error: ${{ steps.check-npm-package-metadata.outputs.ERROR }}
      status: ${{ steps.check-npm-package-metadata.outputs.STATUS }}
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3.3.0
        with:
          fetch-depth: 0
      - name: Install dependencies
        run: npm install
      - name: Download NPM package and check its metadata
        id: check-npm-package-metadata
        run: |
          npm v ${{ inputs.npm-package }} dist.tarball | xargs curl | tar -xz
          node src/check-npm-package-metadata.js $GITHUB_WORKSPACE/package
          echo "STATUS=success" >> $GITHUB_OUTPUT;
  check-npm-package-step-requirements:
    name: Check if we can move to the "check-npm-package" step
    runs-on: ubuntu-latest
    needs: [check-github-link, check-npm-package-metadata]
    steps:
      - name: Check statuses of previous steps
        id: check-previous-steps
        run: |
          if [ '${{ needs.check-github-link.outputs.status }}' != 'success' ] || [ '${{ needs.check-npm-package-metadata.outputs.status }}' != 'success' ]; then exit 1; fi;
  check-npm-package:
    name: Validate template
    runs-on: ${{ matrix.os }}
    needs: [check-npm-package-step-requirements]
    strategy:
      fail-fast: false
      matrix:
        node-version: [14.x, 16.x]
        os: [ubuntu-latest, windows-latest]
    outputs:
      ubuntu-latest-14x-error: ${{ steps.check-installation-and-tests.outputs.ubuntu-latest-14-error }}
      ubuntu-latest-16x-error: ${{ steps.check-installation-and-tests.outputs.ubuntu-latest-16-error }}
      windows-latest-14x-error: ${{ steps.check-installation-and-tests.outputs.windows-latest-14-error }}
      windows-latest-16x-error: ${{ steps.check-installation-and-tests.outputs.windows-latest-16-error }}
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3.3.0
        with:
          fetch-depth: 0
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node-version }}
      - name: Check installation and tests
        id: check-installation-and-tests
        run: |
          failed=0
          cd .. && mkdir "npm-package" && cd "npm-package"
          npm init --yes
          npm install ${{ inputs.npm-package }} || failed=1
          if ${{ matrix.node-version == '14.x' }}; then nodeVersion='14'; else nodeVersion='16'; fi;
          if [ ${failed} -eq 1 ]; then echo "${{ matrix.os }}-$nodeVersion-error=:x: Node version ${{ matrix.node-version}}, OS ${{ matrix.os }}...Package installation failed." >> $GITHUB_OUTPUT; exit 1; fi;
          cd .. && mkdir "npm-package-src"
          git clone ${{ inputs.github-link }} "npm-package-src" || failed=1
          if [ ${failed} -eq 1 ]; then echo "${{ matrix.os }}-$nodeVersion-error=:x: Node version ${{ matrix.node-version}}, OS ${{ matrix.os }}...Failed cloning the GitHub repository." >> $GITHUB_OUTPUT; exit 1; fi;
          cd "npm-package-src"
          git checkout `npm view ${{ inputs.npm-package }} gitHead` || failed=1
          if [ ${failed} -eq 1 ]; then echo "${{ matrix.os }}-$nodeVersion-error=:x: Node version ${{ matrix.node-version}}, OS ${{ matrix.os }}...Failed switching to the GitHub commit hash." >> $GITHUB_OUTPUT; exit 1; fi;
          npm install --legacy-peer-deps || failed=1
          if [ ${failed} -eq 1 ]; then echo "${{ matrix.os }}-$nodeVersion-error=:x: Node version ${{ matrix.node-version}}, OS ${{ matrix.os }}...Package dependencies installation failed." >> $GITHUB_OUTPUT; exit 1; fi;
          npm test || failed=1
          if [ ${failed} -eq 1 ]; then echo "${{ matrix.os }}-$nodeVersion-error=:x: Node version ${{ matrix.node-version}}, OS ${{ matrix.os }}...Package tests failed." >> $GITHUB_OUTPUT; exit 1; fi;
